<body class="addPosts">



  <div class="d-flex justify-content-center my-5 sessionLogin">
    <div class="col-5 newSessionLogin">
      <div class="d-flex flex-column my-5 mx-5 align-items-center">


        <h1>Add New Post</h1>

        <%= render "form", post: @post %>
      </div>
    </div>
  </div>



</body>
