.logo{
  width: 150px;
  position: sticky;
  left: 40px;
  position: absolute;
  top: 70px;
}

.banner{
  background-image: url("background.webp");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;


  h1{
    line-height: 1.3;
  }

}
