#testimonials{
  margin: 60px 100px;
  background: #FFFFFF;
  text-align: center;
  padding: 5% 5%;
}


.testimonialImage{
  padding-bottom:2%;
  width: 80px;
}

.carousel-inner{
  position: relative;
  width: 100%;

  h1{
    text-align:center;
    line-height:2;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
  }

}
