// SERVICES CARDS

.serviceCardsImage{
  height: 200px;
  object-fit: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}





// ____________ POSTS INDEX CARDS ____________


.indexPostImage{
  width: 100vh;
}
