// SERVICES CARDS


.card-product {
  overflow: hidden;
  min-height: 305px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6!important;
}

.serviceImages {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}





// ____________ POSTS INDEX CARDS ____________


.indexPostImage{
  width: 100vh;
}
