<body class="addTestimonials">

  <div class="d-flex justify-content-center my-5 sessionLogin">
    <div class="col-6 newSessionLogin">
      <div class="d-flex flex-column my-5 mx-5 align-items-center">


        <h1 class="mb-5">Add New Testimonial</h1>

        <%= render "form", testimonial: @testimonial %>
      </div>
    </div>
  </div>



</body>
